<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">

		<%- include('../partials/header', {pagina: 'About'}); %>

		<main>
				<div class="jumbotron">
						<h1>Sobre mim</h1>
						<p>Oi, sou o Kelvin! Estudante da trilha fundamentar da Rocketseat!</p>
				</div>
		</main>

		<%- include('../partials/footer'); %>

</body>

</html>